@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToDo </h1>
    <p class="lead">Application </p>
    @Html.ActionLink("Click to Create/View Todos", "Index", "Todos", new { area = "" }, new { @class = "navbar-brand" })
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
     </div>   
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>